<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Test Chat - <%= projectName %> 의 채팅창</title>
<head>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="/stylesheets/resources/css/bootstrap.vertical-tabs.min.css"
  rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="/stylesheets/resources/css/metisMenu.css" rel="stylesheet">
<!-- Morris Charts CSS -->
<link href="/stylesheets/resources/css/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/stylesheets/resources/css/font-awesome.css" rel="stylesheet" type="text/css">
<!-- Custom CSS -->
<link href="/stylesheets/resources/css/sb-admin-2.css" rel="stylesheet">

<link href="/stylesheets/materialize.css" rel="stylesheet">
<!-- jQuery -->
<script src="/stylesheets/resources/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/stylesheets/resources/js/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>

<style>
#page-wrapper {
	margin: 0;
}

.content-holder {
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  //background: #eceff1;
  border: 1px solid #DADADA;
}

.user-list {
  min-height: 442px;
  width: 100%;
  padding: 0px;
}
.content-label {
  width: 100%;
  background: #F5F5F5;
  padding: 10px;
  color: #333;
  border-bottom: 1px solid transparent;
  border-color: #ddd;
}

.users {
  height: calc(100%-42); //content label height
  margin: 0;
  width: 100%;
  list-style:none;
  margin:0px; 
  padding:0px;
}
.users .user-preview {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #DADADA;
}

.user-preview .circle-preview {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3em;
  padding: 3px 2px;
  text-align: center;
  margin : 5px;
}

.user-preview p {
  display: inline-block;
  margin: 0px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
}
</style>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>


</head>
<body>
<div id="page-wrapper">
  <div class="row">
    <div class="col-sm-7">
      <div data-role="page">
        <div data-role="header">
          <h1>Chat Test</h1>
        </div>
        <div data-role="content">
          <h3>User ID</h3>
          <h4>아이디 쓰고 스타트챗 눌러라!!!!!</h4>
          <input id="name" />
          <h5>가져와지는지 확인...</h5>
          <input id="userId" value="<%= userId %>" />
          <input id="userName" value="<%= userName %>" />
          <input id="projectId" value="<%= projectId %>" />
          <input id="projectName" value="<%= projectName %>" />
          <input id="fullId" value="<%= fullId %>" />
          <input id="userSocket" value="<%= userSocket %>" />
          <a class="btn btn-primary"
            data-role="button" href="#chatPage">Start Chat</a>
          <h2>현재 접속자는 <%= userId %>,<%= userName %>이며 접속하신 시간은 <%= clock %> 입니다</h2>
        </div>
      </div>


      <!-- /.panel -->
      <div class="row">
        <div class="col-sm-3" style="padding-right : 0">

          <div class="content-holder">
            <div class="user-list">
              <div class="content-label">
              <i class="fa fa-child fa-fw"></i> 접속자 </div>
              <ul class="users"></ul>
            </div>
          </div>

        </div>
      <div class="col-sm-9" style="padding-left : 0">
      <div class="chat-panel panel panel-default" data-role="page"
        id="chatpage">
        <div class="panel-heading" data-role="header">
           <i class="fa fa-comments fa-fw"></i> 채팅
          <div class="btn-group pull-right">
          <div class="text-right" style="display : inline-block;" id="userStatus"></div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div data-role="content">
          <div class="panel-body" style="overflow:auto;" id="scrollDiv">
            <ul class="chat" id="content" data-role="listview" data-inset="true">

            </ul>
          </div>
          <!-- /.panel-body -->
          <div id="messageStatus"></div>
          <div class="panel-footer">
            <div class="input-group">
              <input id="messageInput" name="" type="text"
                class="form-control input-sm"
                placeholder="Type your message here..." /> <span
                class="input-group-btn" >
                <button class="btn btn-warning btn-sm" id="chatsend">
                  보내기</button>
              </span>
            </div>
          </div>
          <!-- /.panel-footer -->
        </div>
      </div>
      <!-- content -->
      <!-- /.panel .chat-panel -->
    </div>
  </div> <!-- col -->
  </div> <!-- row -->


    <!-- 회의록 -->

    <div class="col-sm-5">
      <!-- /.panel -->
      <div class="chat-panel panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-book fa-fw"></i> 회의록
          <div class="btn-group pull-right">
            
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <textarea class="form-control" id="chatMemo"
            style="width: 100%" rows="55" placeholder="회의내용을 기록하세요"></textarea>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
          <div class="input-group">
            <span class="input-group-btn" style="text-align: right">
              <button class="btn btn-warning btn-sm" id="minutesSave">
                저장하기</button>
                <input type="button" value="다운로드" class="btn btn-primary btn-sm" id="minutesDownload">
            </span>
          </div>
        </div>
        <!-- /.panel-footer -->
      </div>
    </div>
  </div> <!-- row -->
  </div>
</body>

</html>
